/*
* custom.less
* Autor: Dein Name
*/

/*
* HTML, Body
*/

html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

body {
   color: @color-text;
   font-size: @font-base-size;
   font-family: @font-base-family;
   font-weight: 400;
}

//
// Verlinkungen
//

a {
   color: @color-base;
   text-decoration: none;

   &:hover,
   &:focus,
   &:active {
      text-decoration: none;
   }
}

//
// Überschriften
//

h1, h2, h3 {
   font-family: @font-headline-family;
   font-weight: 500;
   color: @color-base;
}

//
// Buttons
//

.button {
   display: inline-block;
   background: @button-bg-color;
   color: @button-text-color;
   padding: 7px;
   font-family: @font-headline-family;
   font-weight: bold;
   border-radius: @button-border-radius;

   &:hover {
      background: lighten(@color-base, 10%);
   }
}

//
// Kategorie Liste im Post Archiv
//

.category-list {

}