//
// modules.less
// ----------------------------------------------------------------

//
// Basic Module
//

.module {
   padding: (@grid-gutter-width * 2) 0;
}

//
// Module Header Image
//

.module-header {

   .inner-content {
      overflow: hidden;
   }

   .header-menu {
      list-style: none;
      width: 50%;
      float: right;
      display: table;
      table-layout: fixed;

      li {
         display: table-cell;
         text-align: center;
      }
   }
}

.module-header-image {
   width: 100%;
   position: relative;

   img {
      max-width: 100%;
      width: 100%;
      height: auto;
      display: block;
      z-index: 10;
   }

   .header-post {
      position: absolute;
      bottom: 60px;
      width: 50%;
      left: 0;
      z-index: 15;

   }
}

//
// Module Footer Navigation
//

.module-footer {
   .footer-menu {
      list-style: none;
      display: table;
      table-layout: fixed;
      width: 100%;

      li {
         display: table-cell;
         text-align: center;
      }
   }
}